.place-order {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
  flex-wrap: wrap;
}

.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
  display: grid;
  grid-template-columns: repeat 1fr;
  gap: 15px;
}

.place-order-left input {
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}

.place-order-left .multi-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.place-order-right {
  width: 100%;
  max-width: 40%;
}

.place-order-left .multi-fields input {
  flex-grow: 1;
}
.place-order-right .multi-fields {
  width: 100%;
  max-width: max(40%, 500px);
}

.place-order .cart-total button {
  margin-top: 30px;
  padding: 15px 10px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
/** CSS responsive **/
@media (max-width: 768px) {
  .place-order {
    flex-direction: column;
    gap: 20px;
  }

  .place-order-left,
  .place-order-right {
    max-width: 100%;
  }

  .place-order .cart-total {
    margin-top: 20px;
  }
}
/** CSS responsive **/
